body{
   background-image: url('success.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}
.acabd{
     background-image:url('Academic Performance.jpg'); 
background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}